{% extends 'base.html.j2' %}

{% block content %}
<h1>Ударения</h1>
<form name='autosub' action='/next_question' method='POST'>
    <ol>
        <li>Куда падает ударение в слове <b>{{question}}</b>?</li>
        {% for i in answers %}
            {% if i in correct %}
                <input type='submit' class="btn btn-primary mb-2" style="background-color: greenyellow" value='{{i}}' name='answer' disabled/>
            {% elif i == answered %}
                <input type='submit' class="btn btn-primary mb-2" style="background-color: darkred" value='{{i}}' name='answer' disabled/>        
            {% else %}
                <input type='submit' class="btn btn-primary mb-2" value='{{i}}' name='answer' disabled/>
            {% endif %}
        {% endfor %}
    </ol>
</form>
<a class="btn btn-secondary mb-2" href="{{ url_for('get_results') }}">Закончить</a>
<script>
    window.onload=function(){ 
        window.setTimeout(function(){document.autosub.submit();}, 300);
    };
</script>
{% endblock %}